[submodule "BulletSystem"]
	path = BulletSystem
	url = http://192.168.1.200:3000/STKzica/BulletSystem.git
[submodule "JoystickSystem"]
	path = JoystickSystem
	url = http://192.168.1.200:3000/STKzica/JoystickSystem.git
[submodule "FadeSystem"]
	path = FadeSystem
	url = http://192.168.1.200:3000/STKzica/FadeSystem.git
[submodule "ErrorHandler"]
	path = ErrorHandler
	url = http://192.168.1.200:3000/STKzica/ErrorHandler.git
