[submodule "BulletSystem"]
	path = BulletSystem
	url = http://192.168.1.66:3000/STKzica/BulletSystem.git
[submodule "JoystickSystem"]
	path = JoystickSystem
	url = http://192.168.1.66:3000/STKzica/JoystickSystem.git
